{% extends "admin-panel/base.html" %}

{% load i18n custom_tags %}

{% block content %}

<!-- Skills Add Button -->
<button class="btn-primary block text-sm font-semibold rounded-lg p-3 my-4 text-center jquery-ui-dialog-opener"
  hx-get="{% url 'portfolios:professional_experience_create' %}?page={{ page_obj.number }}" hx-trigger="click"
  hx-target="#main" hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML swap:0.3s">
  <i class="fas fa-plus"></i> Add Professional Experience
</button>

<div class="grid gap-6 mb-8 sm:grid-cols-1 md:grid-cols-2" id="professional-experiences">

  {% for object in object_list %}
  <div class="h-fit p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" id="professional-experience-item">

    <!-- company name and image -->
    <div class="flex flex-wrap flex-row space-x-4">
      <div class="md:w-1/12">
        {% if object.company_image %}
        <img src="{{ object.company_image.url }}" class="float-left" alt="{{ object.title }}" height="30" width="30">
        {% else %}
        <i class="fas fa-briefcase mr-1"></i>
        {% endif %}
      </div>
      <div class="md:w-8/12">
        <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
          {{ object.company }}
        </h4>
      </div>
      <div class="md:w-2/12 text-right">
        <span class="ml-2">
          <i class="fas fa-minus-circle text-danger text-xl cursor-pointer"
            hx-get="{% url 'portfolios:professional_experience_delete' slug=object.slug %}?page={{ page_obj.number }}"
            hx-trigger="click" hx-target="#main" hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML swap:0.3s"></i>
        </span>
        <span class="ml-1">
          <i class="fas fa-edit text-primary text-xl cursor-pointer"
            hx-get="{% url 'portfolios:professional_experience_update' slug=object.slug %}?page={{ page_obj.number }}"
            hx-trigger="click" hx-target="#main" hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML swap:0.3s"></i>
        </span>
        <span class="ml-1">
          <i class="fas fa-eye text-info text-xl cursor-pointer"
            hx-get="{% url 'portfolios:professional_experience_detail' slug=object.slug %}?page={{ page_obj.number }}"
            hx-trigger="click" hx-target="#main" hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML swap:0.3s"></i>
        </span>
      </div>
    </div>

    <!-- designation -->
    <h4 class="font-semibold text-gray-600 dark:text-gray-300">{{ object.designation }}</h4>

    <!-- job type and job duration -->
    <div class="grid my-2 sm:grid-cols-1 md:grid-cols-2 text-slate-500 font-bold">
      <div>
        {{ object.start_date }} - {{ object.get_end_date }}
      </div>
      <div class="md:text-right w-11/12">
        {{ object.job_type|default:'-' }}
      </div>
    </div>

    <h6 class="text-sm text-slate-500">{{ object.address|default:'-' }}</h6>

    <p class="my-2 text-gray-600 dark:text-gray-400">
      {{ object.description|linebreaks|safe }}
    </p>

  </div>
  {% empty %}
  <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3 mx-4 text-center rounded relative"
    role="alert">
    <p class="font-bold">No Data</p>
  </div>
  {% endfor %}

</div>

{# PAGINATION #}
<!-- pagination template -->
{% include "snippets/pagination.html" %}

<!-- include modal form -->
{% include "snippets/form-modal.html" %}
{% include "snippets/detail-modal.html" %}

{# include page specific snippet template #}

{% if snippet_template %}

{% if snippet_template|get_type == 'list' %}

{% for template in snippet_template %}
{% include template %}
{% endfor %}

{% else %}
{% include snippet_template %}
{% endif %}

{% endif %}

{% endblock %}
