{% load i18n crispy_forms_tags %}

{% block additional_styles %}

<style>
  /* style of a tag (E.X. Current image in form), select pointer */
  .ui-widget-content a,
  .pointer-events-none {
    color: rgb(83, 172, 255) !important;
  }

  input + p {
    margin-top: 7px;
    text-align: center;
  }

</style>

{% endblock %}

<div class="bg-white w-full dark:bg-gray-700 hidden jquery-ui-dialog" id="form-modal-dialog">

  <div
    class="bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all dark:bg-gray-800 dark:text-gray-200">

    <!-- main form -->
    <form id="djangoForm" class="" method="POST" autocomplete="off" enctype='multipart/form-data'
      hx-encoding="multipart/form-data">

      {% csrf_token %}

      <!-- modal header -->
      <div class="border-b px-4 py-2 flex justify-between items-center">
        <h3 class="font-semibold text-lg dark:text-white">{% if page_title %}{{ page_title }}{% else %}Form{% endif %}
        </h3>
      </div>

      <!-- Modal Body -->
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 dark:bg-gray-700">
        <div class="container">

          {% if action == "delete" %}

          <div class="flex items-center mb-2">
            <div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white dark:bg-gray-700 rounded-lg shadow-xl">
              <div class="flex items-center bg-blue-500 text-white text-sm px-4 py-3" role="alert">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path
                    d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z" />
                </svg>
                <span class="text-lg">{% trans "Are you sure you want to delete" %} "<span class="font-semibold">{{ object }}</span>"?</span>
              </div>
            </div>
          </div>

          {% else %}

          <div class="flex items-center mb-2">
            <div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white dark:bg-gray-700 rounded-lg shadow-xl">
              <div class="flex items-center bg-blue-500 text-white text-sm px-4 py-3" role="alert">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path
                    d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z" />
                </svg>
                <span class="text-sm">{% trans "Please fill the required fields (marked with *) properly." %}</span>
              </div>
            </div>
          </div>

          <div class="flex items-center mb-5">
            <div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden rounded-lg shadow-xl p-4">


              {{ form|crispy }}


            </div>
          </div>

          {% endif %}

        </div>
      </div>

      <!-- Modal Footer -->
      <div class="border-t bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse dark:bg-gray-700">

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        {# start submit button #}

        <button class="btn-primary" type="submit" hx-trigger="click" hx-target="#main"
          hx-post="{{ request.get_full_path }}" hx-indicator="#htmxLoaderIndicator"
          x-on:click="closeJqueryModal('form-modal-dialog')" hx-swap="outerHTML swap:0.3s">
          {% if action == "delete" %}{% trans "Yes, Delete" %}{% elif action %}{{ action|title }}{% else %}{% trans 'Submit' %}{% endif %}
        </button>

        {# end submit button #}

        <button class="mr-4 jquery-ui-dialog-closer btn-danger">
          Cancel
        </button>

      </div>
    </form>
  </div>
</div>
</div>

{% block additional_head_scripts %}

<script>

  // document ready function
  $(function () {

    // change select input style
    $('select').addClass(
      'selectinput bg-white dark:bg-gray-700 focus:border-app-theme-400 dark:focus:border-app-theme dark:focus:border-app-theme focus:outline-none focus:shadow-outline-app-theme dark:focus:shadow-outline-app-theme-200 dark:text-white dark:focus:shadow-outline-app-theme form-input'
    )

  })

</script>

{# keep modal/dialog open if if there remains form errors or action in create, update or delete #}

{% if form.errors or action in "create, update, delete" %}

<script>
  // open modal
  openJqueryModal("form-modal-dialog")
</script>

{% endif %}

{% endblock %}
