{% extends "admin-panel/base.html" %} {% load i18n custom_tags getattribute %}
{% block content %}

<!-- Add Button -->
<button type="button" class="btn-primary block text-sm font-semibold rounded-lg p-3 my-4 text-center jquery-ui-dialog-opener"
  hx-get="{% url create_url %}" hx-trigger="click" hx-target="#main"
  hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML">
  <i class="fas fa-plus"></i> Add {{ model_verbose_name }}
</button>

{% if detail_template %}
{% include detail_template %}
{% else %}

<div class="grid gap-6 mb-8 sm:grid-cols-1 md:grid-cols-2" id="object-list">

  {% for object in object_list %}
  <div class="h-fit p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" id="object">

    <table class="table-auto border-separate [border-spacing:1rem]">
      <tbody>

        <tr>
          <td width="30%">
            <h6 class="font-semibold text-gray-600 dark:text-gray-300">
              Action
            </h6>
          </td>
          <td width="70%">
            <div class="">
              <span class="ml-2">
                <i class="fas fa-minus-circle text-danger text-xl cursor-pointer"
                  hx-get="{{ object.get_urls.delete }}?page={{ page_obj.number }}"
                  hx-trigger="click" hx-target="#main" hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML"></i>
              </span>
              <span class="ml-1">
                <i class="fas fa-edit text-primary text-xl cursor-pointer"
                  hx-get="{{ object.get_urls.update }}?page={{ page_obj.number }}"
                  hx-trigger="click" hx-target="#main" hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML"></i>
              </span>
              <span class="ml-1">
                <i class="fas fa-eye text-info text-xl cursor-pointer"
                  hx-get="{{ object.get_absolute_url }}?page={{ page_obj.number }}"
                  hx-trigger="click" hx-target="#main" hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML"></i>
              </span>
            </div>
          </td>
        </tr>

        {% for field in display_fields %}

        <tr>
          <td>
            <h6 class="font-semibold text-gray-600 dark:text-gray-300">
              {{ field.name|var_to_title }}
            </h6>
          </td>
          <td>
            {% if field.get_internal_type in "FileField" and object|getattribute:field.name is not None %}
            <img src="{{ object|getattribute:field.name }}" alt="{{ object|getattribute:field.name }}">
            {% else %}
            <span>
              {% if object|getattribute:field.name == True %}
              <i class="fas fa-check-circle text-success"> Yes</i>
              {% elif object|getattribute:field.name == False %}
              <i class="fas fa-times-circle text-danger"> No</i>
              {% else %}
              {{ object|getattribute:field.name|default:"---"|safe|linebreaks }}
              {% endif %}
            </span>
            {% endif %}
          </td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

  </div>
  {% empty %}
  <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3 mx-4 text-center rounded relative"
    role="alert">
    <p class="font-bold">{% trans 'No Data' %}</p>
  </div>
  {% endfor %}

</div>

{% endif %}

{# PAGINATION #}
<!-- pagination template -->
{% include "snippets/pagination.html" %}

<!-- include modals -->
{% include "snippets/form-modal.html" %}
{% include "snippets/detail-modal.html" %}

{# include page specific snippet template #}
{% if snippet_template %}
{% if snippet_template|get_type == 'list' %}
{% for template in snippet_template %}
{% include template %}
{% endfor %}
{% else %}
{% include snippet_template %}
{% endif %}
{% endif %}
{% endblock %}
