{% load static i18n %}

{% comment %}
<div id="htmxLoaderIndicator" class="relative my-2 htmx-indicator" x-show.transition.opacity.duration.700ms="open">
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-transparent mx-auto
              my-auto h-full rounded-lg rounded-t-none">
    <img src="{% static 'images/loader.gif' %}" alt="loading" style="height: 50px; width: 50px;" />
    <div class="mt-1 justify-start">
      <span class="text-app-color font-extrabold -ml-5">
        {% trans "Please wait..." %}
      </span>
    </div>
  </div>
</div>
{% endcomment %}

<div id="htmxLoaderIndicator"
  class="htmx-indicator w-full h-full fixed block top-0 left-0 bg-white dark:bg-black bg-opacity-20 opacity-75 z-50">
  <span class="text-app-color opacity-75 top-1/2 my-0 mx-auto block relative w-0 h-0">
    <i class="fas fa-circle-notch fa-spin fa-5x"></i>
  </span>
</div>
