{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block content %}

<div class="text-center mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">
  <h1>{% trans "Logout" %}</h1>
</div>

<div class="text-center">
  <p>{% trans 'Are you sure you want to Logout?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn-danger mt-3" type="submit">{% trans 'Logout' %}</button>
  </form>
</div>


{% endblock %}
