{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="text-center mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">
    <h1>{% trans "Change Password" %}</h1>
</div>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="flex items-center justify-between">
        <div>
            <button class="btn-purple" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
        <div>
            <a href="{% url 'account_reset_password' %}" class="font-bold text-sm text-orange-600 hover:text-orange-800">
                {% trans "Forgot Password?" %}
            </a>
        </div>
    </div>
</form>

{% endblock %}