{% extends "admin-panel/base.html" %}

{% load i18n custom_tags %}

{% block content %}

<!-- Add Button -->
<button class="btn-primary block text-sm font-semibold rounded-lg p-3 my-4 text-center jquery-ui-dialog-opener"
  hx-get="{% url 'portfolios:certification_create' %}?page={{ page_obj.number }}" hx-trigger="click"
  hx-target="#main" hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML">
  <i class="fas fa-plus"></i> {% trans "Add Certification" %}
</button>

<div class="grid gap-6 mb-8 sm:grid-cols-1 md:grid-cols-2" id="certifications">

  {% for object in object_list %}
  <div class="h-fit p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" id="certification-item">

    <div class="flex flex-wrap flex-row space-x-4">
      <div class="md:w-9/12">
        <h4 class="text-lg font-semibold text-gray-600 dark:text-gray-300">
          {{ object.name }}
        </h4>
        <h4 class="text-md font-normal text-gray-600 dark:text-gray-300">
          {{ object.organization }}
        </h4>
      </div>

      {# action buttons #}
      <div class="md:w-2/12 text-right">
        <span class="ml-2">
          <i class="fas fa-minus-circle text-danger text-xl cursor-pointer"
            hx-get="{% url 'portfolios:certification_delete' slug=object.slug %}?page={{ page_obj.number }}"
            hx-trigger="click" hx-target="#main" hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML"></i>
        </span>
        <span class="ml-1">
          <i class="fas fa-edit text-primary text-xl cursor-pointer"
            hx-get="{% url 'portfolios:certification_update' slug=object.slug %}?page={{ page_obj.number }}"
            hx-trigger="click" hx-target="#main" hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML"></i>
        </span>
        <span class="ml-1">
          <i class="fas fa-eye text-info text-xl cursor-pointer"
            hx-get="{% url 'portfolios:certification_detail' slug=object.slug %}?page={{ page_obj.number }}"
            hx-trigger="click" hx-target="#main" hx-indicator="#htmxLoaderIndicator" hx-swap="outerHTML"></i>
        </span>
      </div>
    </div>

    <!-- address -->
    <h6 class="mb-2 text-sm text-slate-500">{{ object.address }}</h6>

    <div class="text-slate-500 dark:text-gray-400">
      <h6>
        {{ object.issue_date|date:"F, Y" }} - {{ object.get_expiration_date }}
      </h6>
      {% if object.credential_id %}
      <h6>Credential ID: {{ object.credential_id }}</h6>
      {% endif %}
    </div>

    {% if object.credential_url %}
    <h6 class="text-sm text-slate-500">
      Credential URL: <a href="{{ object.credential_url }}" target="_blank">{{ object.credential_url }}</a>
    </h6>
    {% endif %}

    {% if object.description %}
    <h6 class="text-sm text-slate-500">
      Description: {{ object.description }}
    </h6>
    {% endif %}

  </div>
  {% empty %}
  <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3 mx-4 text-center rounded relative"
    role="alert">
    <p class="font-bold">{% trans 'No Data' %}</p>
  </div>
  {% endfor %}

</div>

{# PAGINATION #}
<!-- pagination template -->
{% include "snippets/pagination.html" %}

<!-- include modal form -->
{% include "snippets/form-modal.html" %}
{% include "snippets/detail-modal.html" %}

{# include page specific snippet template #}

{% if snippet_template %}

{% if snippet_template|get_type == 'list' %}

{% for template in snippet_template %}
{% include template %}
{% endfor %}

{% else %}
{% include snippet_template %}
{% endif %}

{% endif %}

{% endblock %}
