/* ************************** Custom CSS File ************************** */

/* Remove Button outline on focus or active */

.no-outline:focus,
.no-outline.focus {
    outline: none !important;
    box-shadow: none !important;
}

/* asteriskField field customization */

.asteriskField {
    color: rgba(187, 11, 11, 0.788);
    font-size: 1.2em;
    margin-left: 4px;
    margin-right: 4px;
}

/* Custom Animations */

.c-animate-slide-in {
    animation: slide-in 0.5s both;
}

@keyframes slide-in {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0);
    }
}

.c-animate-resize {
    animation: scale 1.5s both;
}

@keyframes scale {
    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.c-animate-moving {
    animation: slide-in 0.7s both;
}

@keyframes slide-in {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0);
    }
}
